## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

#config and log
.editorconfig
.prettierrc
.eslintrc.json
debug.log
/backend/.vscode
/backend/venv
/backend/__pycache__
*/reservation/*
backend/__*
backend/list
backend/travelone
